/* ========================== Top Brand Section Start ================================ */
.top-brand {
    &__item {
        max-height: 84px;
        max-width: 160px;
        width: 100%;
        aspect-ratio: 1;
    }
}
/* ========================== Top Brand Section End ================================ */